* {
	text-align: center;
	box-sizing: border-box;
}

.container {
	display: grid;
	min-height: 100dvh;
	grid-template-rows:
		auto 1fr auto;
}

img {
	width: 100px;
	height: 100px;
}

.fondoRojo {
	background-color: red;
}


.seleccionado {
	border: 5px solid red;
	opacity: 1;
}

.noSeleccionado {
	opacity: 0.5;
}

footer{
	background-color: #333;
	color: white;
	padding: 10px 0;
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
}